{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- All Blogs -->
  <div class="container my-5">
    <h2 class="mb-4">All Blog Posts</h2>
    <div class="list-group">
      {% for blog in blogs %}
      <a href="{% url 'full_content' pk=blog.id %}" class="list-group-item list-group-item-action">
        <h5>{{blog.Blog_Title}}</h5><br>
        <p class="text-muted d-flex justify-content-between">
          <em>Written by {{blog.Author}}</em>
          <i>Created on:{{blog.Created_at}}</i>
        </p>
        
      </a>
      {% endfor %}
      <!-- <a href="#" class="list-group-item list-group-item-action">
        <h5>Blog Post 2</h5>
        <p>Full content or longer preview of the second blog post...</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <h5>Blog Post 3</h5>
        <p>Full content or longer preview of the third blog post...</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <h5>Blog Post 4</h5>
        <p>Another blog post preview...</p> 
      </a>-->
      
    </div>
  </div>

{% endblock content %}