{% extends 'base.html' %}
{% load static %}
{% block content %}


  {% if messages %}
  <div class="alert alert-success">
      {% for message in messages %}
          {{ message }}
      {% endfor %}
  </div>
  {% endif %}


  <!-- Create Blog Form -->
  <div class="container my-5">
    <h2>Create a New Blog Post</h2>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.Blog_Title.id_for_label }}"  class="form-label">Blog Title</label>
        {{ form.Blog_Title }}
      </div>
      <div class="mb-3">
        <label for="{{ form.Content.id_for_label }}" class="form-label">Content</label>
         {{ form.Content }}
      </div>
      <div class="mb-3">
        <label for="{{ form.Blog_Category.id_for_label }}" class="form-label">Blog Category</label>
         {{ form.Blog_Category }}
      </div>
      <div class="mb-3">
        <label for="{{ form.Author.id_for_label }}" class="form-label">Author</label>
         {{ form.Author }}
      </div>
      <div class="mb-3">
        <label for="{{ form.Email_Address.id_for_label }}" class="form-label">Email Address</label>
         {{ form.Email_Address }}
      </div>
      <button type="submit" class="btn btn-success">Update Post</button>
    </form>
  </div>

{% endblock content %}